{% include "password_base.html" %}
<button type="submit" class="Back to login" onclick="location.href='/'">Home</button>
    <button type="submit" class="Back to login" onclick="location.href='/login/'">Back</button>
{% block content %}
<h1>Reset your Password</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="{% url 'otp_request' %}" method="post">
{% csrf_token %}
<div>
<input type="text" placeholder="E-mail." name="E-mail" class="form-control" required="required"/>
    {% for message in messages %}

            <label class="text-danger">{{ message }}</label>
        {% endfor %}
</div>

<p><input type="submit" value="Send e-mail"></p>

</form>
{% endblock %}